<% provide(:title, 'Help')%>
<!DOCTYPE html>
<html>

	<head>
		
	</head>
	
	<body>
		<h1>Help</h1>

		<p>
  			This will be a basic walkthrough of the functionality of SPARK.  Perhaps a video
		</p>
	</body>

</html>