<footer class="footer">
	<small>
		<a href="http://railstutorial.org/">SPARK</a> by d_io
	</small>
	<nav>
		<ul>
			<li>Get me on <a href="http://www.twitter.com/davidpackles" target="_blank">Twitter</a></li> 
		</ul>
	</nav>
</footer>